.reveal {
  font-family: "Source Sans Pro", Lato, "Open Sans", sans-serif;
}
.reveal pre code {
  font-size: 0.6em;
  padding: 0;
}
.line-numbers-rows > span {
  line-height: 1.5;
}
.line-numbers .line-numbers-rows {
  border-right-color: #3d3d3d;
}
.line-numbers-rows > span:before {
  color: #5d5d5d;
}
pre[class*="language-"].line-numbers {
  padding-left: 2em;
}
code::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
code::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}
code::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccc;
}
pre {
  padding: 0 0 0 0.25em !important;
}
pre[class*="language-"] > code {
  overflow: auto;
  border-left: 0;
  box-shadow: none;
}
.div-center {
  text-align: left;
  display: inline-block;
  margin: 0 auto;
}
.reveal section img {
  border: 0;
  box-shadow: none;
  max-width: 100%;
  max-height: 100%;
}
.color-transparent {
  color: transparent;
}
